@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
}
